/* Estilos CSS */

catalog{
background-color: #f2f2f2;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #333;
padding: 20px;
}
book {

  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 15px;
  padding: 15px;
  Border-radius: 8px;
  background-color: #fff;

}
book title{
  font-size: 20px ;
  font-weight: bold;

}
book author {
font-size: 18px;
font-weight: italic;

}
book year, publisher{

  font-size: 16px;
  color:#666;
}
year {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}